h1{
    text-align: center;
    width: 200;
    margin: 10 auto;
    font-size:400%;
    font-stretch: expanded;
}

nav{
    text-align: center;
    color: rgb(12, 4, 59);
    margin: 0 auto;
    font-family: "arial"
}

img{
    height: 300px;
    margin: 5 auto;
}

body{
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/gravel.png");
}

h1,h3{
    color: rgb(12, 4, 59);
    font-family: "arial black";
    font-stretch: expanded;
    
    padding-bottom: 5px;
}

#history{
  

    font-style: italic;
    font-style: oblique;

}

#video{
    display:block;
    margin: 0 auto;
}